<template name="layout">

  <style>
    {{#if backgroundColor}}
      body{
        background-color: {{backgroundColor}};
        background-image: url('../img/bg-page.png');
        background-repeat: repeat-x;
      }
    {{/if}}
    {{#if buttonColor}}
      input[], button, .button, .auth-buttons #login-buttons #login-buttons-password, .btn, .error{
        background-color: {{buttonColor}};
      }
      a:hover, .post-content .post-heading .post-title:hover, .post-content .post-upvote .upvote-link i, .comment-actions a i, .comment-actions.upvoted .upvote i, .comment-actions.downvoted .downvote i{
        color: {{buttonColor}};
      }
    {{/if}}
    {{#if secondaryColor}}
      .post-content .post-upvote .upvote-link.voted i.icon-check{
        color: {{secondaryColor}};
      }
    {{/if}}
    {{#if headerColor}}
      .header{
        background-color: {{headerColor}};
      }
    {{/if}}
  </style>
  <div class="outer-wrapper {{currentPage}}">
    {{#if logo_url}}
      <h1 class="logo image" style="margin-left:150px">
        <a href="/">
          <img src="{{logo_url}}" style="height:{{logo_height}}px;" alt="{{site_title}}"/>
        </a>
      </h1>
    {{else}}
      <h1 class="logo"><a href="/">{{site_title}}</a></h1>
    {{/if}}
    {{> mobile_nav}}
    <div class="content-wrapper template-{{pageName}}">
      {{> nav}}
      {{> error}}
      {{yield}}
      {{> notifications}}
      {{> footer}}
      <div class="overlay hidden"></div>
    </div>
    {{{extraCode}}}
  </div>
</template>
